@font-face {
  font-family: "iconfont"; /* Project id 3400983 */
  src: url('iconfont.woff2?t=1657712940518') format('woff2'),
       url('iconfont.woff?t=1657712940518') format('woff'),
       url('iconfont.ttf?t=1657712940518') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-areachart:before {
  content: "\e7af";
}

.icon-xianjindai:before {
  content: "\e622";
}

.icon-lianximaijia:before {
  content: "\e621";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-yonghuheimingdanguanli:before {
  content: "\e6a8";
}

.icon-zhongyingwenyuyan:before {
  content: "\e60b";
}

.icon-zanwushuju:before {
  content: "\e61e";
}

.icon-dingdan:before {
  content: "\e6c5";
}

.icon-zanwushuju1:before {
  content: "\e62b";
}

.icon-zanwushuju2:before {
  content: "\e675";
}

.icon-zanwushuju3:before {
  content: "\e609";
}

.icon-check-order:before {
  content: "\e623";
}

.icon-camera:before {
  content: "\e663";
}

.icon-icon--jinggao:before {
  content: "\e620";
}

.icon-guanbi:before {
  content: "\e60a";
}

.icon-cg2:before {
  content: "\e6f9";
}

.icon-cg1:before {
  content: "\e600";
}

.icon-chenggongdefuben2:before {
  content: "\e697";
}

.icon-sucess:before {
  content: "\e63e";
}

.icon-zhankai:before {
  content: "\e651";
}

.icon-gerenzhongxinxuqiushuomingshuv100822:before {
  content: "\e610";
}

.icon-copy:before {
  content: "\e63d";
}

.icon-connectdevice:before {
  content: "\e6e7";
}

.icon-USDC:before {
  content: "\e6d4";
}

.icon-jtdow:before {
  content: "\e611";
}

.icon-yhk:before {
  content: "\e6b";
}

.icon-zfb:before {
  content: "\e749";
}

.icon-wx:before {
  content: "\e743";
}

.icon-jiantou:before {
  content: "\e64a";
}

.icon-document:before {
  content: "\e6f3";
}

.icon-wode:before {
  content: "\e75e";
}

.icon-menu:before {
  content: "\e86b";
}

